<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../../../../assets/logo.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Awards</title>
    <link rel="icon" type="image/png" href="../../assets/logo.ico">
    <link rel="stylesheet" href="../../css/navbar.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="./CSSFiles/Awardspage.css">
    <link rel="stylesheet" href="./CSSFiles/Awards.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="header navbar">
        <div class="navbar-left">
          <a href="tel:+123 456 7890" class="logo d-block d-md-inline"><i class="fa-solid fa-phone-volume"></i> +91
            9245607890</a>
          <a href="mailto:sales@rvsolutions.in" class="logo d-block d-md-inline"><i class="fa-solid fa-envelope"></i>
            sales@rvsolutions.in</a>
        </div>
        <div class="navbar-right">
          <a href="./Components/Header/about_Us.html">About Us</a>
          <a href="./Components/Header/Awardspage.html">Awards</a>
          <a href="./Components/Header/careers.html">Careers</a>
          <a href="./Components/Header/gallery.html">Gallery</a>
          <a href="./Components/Header/testimonials.html">Testimonials</a>
          <a href="./Components/Header/contact.html">Contact Us</a>
        </div>
      </nav>
      <div class="divider"></div>
      <!--navbar-->
      <nav class="navvv navbar navbar-expand-lg bg-body-tertiary sticky-top">
        <div class="container-fluid">
          <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="../../index.html">
                <img src="../../assets/logo.png" alt="Logo" width="150" height="40" class="d-inline-block align-text-top">
              </a>
            </div>
          </nav>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="icons fa-solid fa-bars"></i></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navv navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <div class="dropdown">
                  <button class="btn" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    EMERGING TECHONOLOGY
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item"
                        href="./Components/Nav_links/EMERGING TECH SERVICES/Blochain/tid.html">Blockchain</a></li>
                    <li><a class="dropdown-item" href="./Components/Nav_links/EMERGING TECH SERVICES/AI/AI.html">AI</a></li>
                    <li><a class="dropdown-item" href="./Components/Nav_links/EMERGING TECH SERVICES/IOT Services/IOT.html">IOT
                        Services</a></li>
                    <li><a class="dropdown-item" href="#">Machine
                        Learning</a></li>
                    <li><a class="dropdown-item" href="#">RPA</a></li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <div class="dropdown">
                  <button class="btn" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    E-COMMERCE DEVELOPMENT
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Shopify</a></li>
                    <li><a class="dropdown-item" href="#">Woo Commerce</a></li>
                    <li><a class="dropdown-item" href="#">Mangento Services</a></li>
                    <li><a class="dropdown-item" href="#">Drupal Services</a></li>
                    <a href="#" class="btn dropdown-menu-sub" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      Managed IT Services <i class="fa-solid fa-angle-right"></i>
                    </a>
                    <ul class="nested-dropdown" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">AWS Services</a></li>
                      <li><a class="dropdown-item" href="#">DevOps</a></li>
                      <li><a class="dropdown-item" href="#">Cyber Defeance</a></li>
                      <li><a class="dropdown-item" href="#">Cloud Services</a></li>
                    </ul>
    
    
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <div class="dropdown">
                  <button class="btn" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    ENTRPRISE DEVELOPMENT
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Salesforce</a></li>
                    <li><a class="dropdown-item" href="#">Share
                        point
                        Development</a></li>
                    <li><a class="dropdown-item" href="#">Dashboard</a></li>
                    <li><a class="dropdown-item" href="#">Software
                        Development</a></li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <div class="dropdown">
                  <button class="btn" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    MOBILE APP DEVELOPMENT
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Android
                        Services</a></li>
                    <li><a class="dropdown-item" href="#">IOS
                        Services</a></li>
                    <li><a class="dropdown-item" href="#">Hybrid
                        App</a></li>
                    <li><a class="dropdown-item" href="#">Cross
                        platform Services</a></li>
                  </ul>
                </div>
              </li>
    
    
          </div>
        </div>
      </nav>
    
    <!--Navbar ends -->
<div class="main_headerbar">
    <div class="row">
        <div class="col-md-12">
            <div id ="titleName">
            <h2>Awards</h2>
            </div>
        </div>
    </div>
</div>
<section class="background">
    
    <div class="awards-container">
        <div class="award-card">
            <div class="badge">Award by: Business Connect Magazine</div>
            <div class="content">
                <img src="./Asserts/nari-shakti.jpg" alt="Best ICT & Telecom Services Provider 2023">
                <h4>WOMEN ENTREPRENEUR AWARD 2024</h4>
                <p>Vandana’s experience in business leadership is a masterclass in balancing ambition with humility. She has spearheaded RV Solutions to new heights, proving that success is not just about profit margins but also about making a meaningful difference in society.</p>
                <p class="date"><i class="fa fa-calendar"></i> 2024</p>
            </div>
        </div>


        <div class="award-card">
            <div class="badge">Award by: U.P. Government</div>
            <div class="content">
                <img src="./Asserts/nari-shakti.jpg" alt="Best ICT & Telecom Services Provider 2023">
                <h4>WOMEN ENTREPRENEUR AWARDS (MEERUT DIVISION) 2023</h4>
                <p>Vandana Seth, has been honored by the District Commissioner of Meerut Division as a 'Women Entrepreneur Award-Meerut Division' on the occasion of Women's Day 2024. This recognition celebrates her exceptional achievements as a CEO and her significant contributions to nation-building.</p>
                <p class="date"><i class="fa fa-calendar"></i> 2023</p>
            </div>
        </div>
        <div class="award-card">
            <div class="badge">Award by: Mobility</div>
            <div class="content">
                <img src="./Asserts/nari-shakti.jpg" alt="Best ICT & Telecom Services Provider 2023">
                <h4>BEST ICT & TELECOM SERVICES PROVIDER 2023</h4>
                <p>We are proud to be named the Best ICT & Telecom Services Provider by Mobility for the year 2023. This award reflects our commitment to delivering high-quality information and communication technology solutions that meet the evolving needs of our customers.</p>
                <p class="date"><i class="fa fa-calendar"></i> 2023</p>
            </div>
        </div>
        <div class="award-card">
            <div class="badge">Award by: Mobility</div>
            <div class="content">
                <img src="./Asserts/nari-shakti.jpg" alt="Best ICT & Telecom Services Provider 2023">
                <h4>BEST ICT & TELECOM SERVICES PROVIDER 2023</h4>
                <p>We are proud to be named the Best ICT & Telecom Services Provider by Mobility for the year 2023. This award reflects our commitment to delivering high-quality information and communication technology solutions that meet the evolving needs of our customers.</p>
                <p class="date"><i class="fa fa-calendar"></i> 2023</p>
            </div>
        </div>
        <div class="award-card">
            <div class="badge">Award by: Mobility</div>
            <div class="content">
                <img src="./Asserts/nari-shakti.jpg" alt="Best ICT & Telecom Services Provider 2023">
                <h4>BEST ICT & TELECOM SERVICES PROVIDER 2023</h4>
                <p>We are proud to be named the Best ICT & Telecom Services Provider by Mobility for the year 2023. This award reflects our commitment to delivering high-quality information and communication technology solutions that meet the evolving needs of our customers.</p>
                <p class="date"><i class="fa fa-calendar"></i> 2023</p>
            </div>
        </div>
        <div class="award-card">
            <div class="badge">Award by: Mobility</div>
            <div class="content">
                <img src="./Asserts/nari-shakti.jpg" alt="Best ICT & Telecom Services Provider 2023">
                <h4>BEST ICT & TELECOM SERVICES PROVIDER 2023</h4>
                <p>We are proud to be named the Best ICT & Telecom Services Provider by Mobility for the year 2023. This award reflects our commitment to delivering high-quality information and communication technology solutions that meet the evolving needs of our customers.</p>
                <p class="date"><i class="fa fa-calendar"></i> 2023</p>
            </div>
        </div>
        <div class="award-card">
            <div class="badge">Award by: Mobility</div>
            <div class="content">
                <img src="./Asserts/nari-shakti.jpg" alt="Best ICT & Telecom Services Provider 2023">
                <h4>BEST ICT & TELECOM SERVICES PROVIDER 2023</h4>
                <p>We are proud to be named the Best ICT & Telecom Services Provider by Mobility for the year 2023. This award reflects our commitment to delivering high-quality information and communication technology solutions that meet the evolving needs of our customers.</p>
                <p class="date"><i class="fa fa-calendar"></i> 2023</p>
            </div>
        </div>

    </div>
</section>
 <!-- Footer starting -->

 <footer class="footer">
    <div class="containerfoot">
        <div class="fro row">
            <div class="fcontact col-md-5">
                <h3>Contact Info</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum
                    magna sed, convallis ex.</p>
                <p>Phone: 123456789</p>
                <p>Email: rv@solutions.com</p>
                <div class="social-icons">
                    <i class="fb fab fa-facebook-f"></i>
                    <i class="lnkd fab fa-linkedin"></i>
                    <i class="tw fab fa-x-twitter"></i>
                    <i class="yt fab fa-youtube"></i>
                </div>
            </div>
            <div class="poplink col-md-4">
                <h3>Popular Links</h3>
                <ul>
                    <li><a href="#">Clients</a></li>
                    <li><a href="#">E-Waste Policy</a></li>
                    <li><a href="#">Email Web Login</a></li>
                    <li><a href="#">HRMS Login</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="certifi col-md-3">
                <h3>Certifications</h3>
                <img src="https://www.rvsolutions.in/wp-content/themes/moesia/final_design/assets/images/certificate/cmmi-level-3-certification.jpg"
                    alt="CMMI Level 3 Certification">
                <img src="https://www.rvsolutions.in/wp-content/themes/moesia/final_design/assets/images/certificate/TL-9000.jpg"
                    alt="TL-9000 Certification">
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright &copy; 2024, All Rights Reserved RV Solution.</p>
    </div>
</footer>
    <!-- Footer ended -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>

