.main_headerbar {
  width: 100%;
  height: 146px;
  background: linear-gradient(48deg, #0000ee 0%, #ec1919 72%, #461f72 100%);
}

#titleName {
  color: #ffffff;
  font-weight: 300;
  padding-left: 142px !important;
  padding-top: 60px !important;
}

@media (max-width: 480px) {
  #titleName {
    padding-left: 70px !important;
  }
}

.rev {
  display: ruby;
  margin-left: 14px;
  margin-right: 10px;

}

.rev .reviews {
  width: 45%;
  height: fit-content;
  background-color: #f2f2f2;
  margin-top: 4%;
  margin-left: 10px;
  margin-bottom: 2%;
  padding: 10px;
  text-align: center;
  justify-content: left;
}

.rev .reviews img {
  width: 30%;
  height: 8%;
}

@media (max-width: 480px) {
  .rev {
    display: block;
    margin-right: 10px;
    text-align: -webkit-center;

  }

}